@using Massdrop.Models;

@model Product

@{
    ViewBag.Title = "ProductPageView";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="Page-Wrapper">
    <div class="Title-section-wrapper">
        <div class="Title_Wrapper">
            <h1 class="Title">@Model.Name - @Model.Category.ToString()</h1>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-left: 86%">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
        </ul>

    </div>
    <div class="description-wrapper">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
                <div class="Product-Intro">
                    <img src=@Model.ImageUrl class="ProductImage" />
                    <div class="ProductDescription">
                        @Model.Description;
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="discussion">
                <div class="Content-wrapper">
                    <div class="commentWrapper">
                        <div class="input-group adjusted">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CommentModal" onclick="LoadCommentModal(-1)"> <span class="glyphicon glyphicon-comment" style="margin-right: 10px;"></span>Add A Comment!</button>
                        </div>
                    </div>

                    @foreach (Discussion discussion in Model.Massdrop.Discussions)
                    { <div class="mComment">
                        <div class="Image">
                            <img src=@discussion.User.ImageUrl style="max-height: 75px; max-width: 75px;">
                        </div>
                        <div class="UserInfo">
                            <h4 style="font-weight: 900">@discussion.User.Name</h4>
                        </div>
                        <div class="Commenttext">
                            <h4>@discussion.Message</h4>
                        </div>
                        <div class="LikeButton">
                            <button type="button" class="btn btn-warning btn-sm" style="margin-left: 20px;" onclick="LoadCommentModal(@discussion.ID)" data-toggle="modal" data-target="#CommentModal"> <span class="glyphicon glyphicon-comment" style="margin-right: 10px;"></span>Reply</button>
                        </div>
                    </div>    if (discussion.Replies != null)
                        {
                            foreach (Discussion subDiscussion in discussion.Replies)
                            {
                                <div class="mComment">
                                    <div class="Image">
                                        <img src=@subDiscussion.User.ImageUrl style="max-width: 75px; max-height: 75px;">
                                    </div>
                                    <div class="UserInfo">
                                        <h4 style="font-weight: 900">@subDiscussion.User.Name</h4>
                                        <h5>Replying To: @discussion.User.Name</h5>
                                    </div>
                                    <div class="Commenttext">
                                        <h4 style="max-width: 300px;">@subDiscussion.Message</h4>
                                    </div>
                                </div>
}
                        }
                    }
                </div>

            </div>
        </div>
        <div class="Join-Drop">
            <div class="Price-Wrapper">
                <h1 class="Price">Price: $@Model.Price</h1>
                <h3 class="SubPrice">MSRP: $@Model.NormalPrice</h3>
                <section class="Shipping">
                    <h4>$25.00 SHIPPING TO: NETHERLANDS</h4>
                </section>
                <section class="TimeLeft">
                    <h4>1 Day Left</h4>
                </section>
                <button type="button" class="btn btn-success adjusted" onclick="JoinDrop()">JOIN DROP</button>
            </div>
        </div>

        <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="CommentModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="CommentModalContent">
                </div>
            </div>
        </div>

    </div>

</div>