@using Massdrop.Models;

@model Product

@{
    ViewBag.Title = "ProductPageView";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="Page-Wrapper">
    <div class="Title-section-wrapper">
        <div class="Title_Wrapper">
            <h1 class="Title">@Model.Name - @Model.Category.ToString()</h1>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-left: 86%">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
        </ul>

    </div>
    <div class="description-wrapper">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
                <div class="Product-Intro">
                    <img src=@Model.ImageUrl class="ProductImage" />
                    <div class="ProductDescription">
                        @Model.Description;
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="discussion">
                <div class="Content-wrapper">
                    <div class="commentWrapper">
                        <div class="input-group adjusted">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="AddComment()"> <span class="glyphicon glyphicon-comment"></span></button>
                            </div>
                            <input type="text" id="CommentInput" class="form-control" placeholder="Say Something..." style="width: 100%; padding: 14px 12px;">
                        </div>
                    </div>

                    @foreach (Discussion discussion in Model.Massdrop.Discussion)
                    { <div class="mComment">
                        <div class="Image">
                            <img src="http://placehold.it/72x72">
                        </div>
                        <div class="UserInfo">
                            <h4 style="font-weight: 900">@discussion.User.Name</h4>
                        </div>
                        <div class="Commenttext">
                            <h4>@discussion.Message</h4>
                        </div>
                        <div class="LikeButton">
                            <a class="btn btn-sm btn-secondary blacked">
                                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 15px;" onclick="IncrementLike(this.id)" id=@discussion.ID></span>
                            </a>
                        </div>
                        <div class="Likes">
                            <h5 id="">Likes: @discussion.Likes</h5>
                        </div>
                    </div>    if (discussion.Replies != null)
                        {
                            foreach (Discussion subDiscussion in discussion.Replies)
                            {
                                <div class="mComment">
                                    <div class="Image">
                                        <img src="http://placehold.it/72x72">
                                    </div>
                                    <div class="UserInfo">
                                        <h4 style="font-weight: 900">@subDiscussion.User.Name</h4>
                                        <h5>Replying To: @discussion.User.Name</h5>
                                    </div>
                                    <div class="Commenttext">
                                        <h4 style="max-width: 300px;">@subDiscussion.Message</h4>
                                    </div>
                                    <div class="LikeButton">
                                        <a class="btn btn-sm btn-secondary blacked">
                                            <span class="glyphicon glyphicon-thumbs-up" style="font-size: 15px;"></span>
                                        </a>
                                    </div>
                                    <div class="Likes">
                                        <h5>Likes: @subDiscussion.Likes</h5>
                                    </div>
                                </div>
}
                        }
                    }
                </div>

            </div>
        </div>
        <div class="Join-Drop">
            <div class="Price-Wrapper">
                <h1 class="Price">Price: $@Model.Price</h1>
                <h3 class="SubPrice">MSRP: $@Model.NormalPrice</h3>
                <section class="Shipping">
                    <h4>$25.00 SHIPPING TO: NETHERLANDS</h4>
                </section>
                <section class="TimeLeft">
                    <h4>1 Day Left</h4>
                </section>
                <button type="button" class="btn btn-success adjusted" onclick="JoinDrop()">JOIN DROP</button>
            </div>
        </div>

    </div>

</div>